<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css">
<head>
  <title>작물 종류 및 생육 단계 식별</title>
</head>
<header>
    <h2>작물 종류 및 생육 단계 식별</h2>
    <span><a href="/model">작물종류/생육단계 식별</a></span>
    <span><a href="/gradcam_home">Grad-CAM</a></span>
    <span><a href="http://ailab.cbnu.ac.kr/ko/">연구실</a></span>
</header>
<body>
    <div class="container" style="justify-content: space-around; vertical-align: before-edge; align-content: space-around">
    <div><p style="text-align: center">Grad-CAM</p></div>
    {% if filename %}
       <div class="inner-div" style="display:flex; justify-content: space-around; vertical-align: middle;  text-align: center;">
             <div style="float:left; width:30%;">
                <p> 원본 이미지 </p>
                <img src="{{url_for('static', filename=filename)}}" alt=""style="width:224px; height: 224px; object-fit: cover">
            </div>
            <div style="float:left; width:30%;">
                <p> 작물 종류 Grad-CAM </p>
                <img src="{{url_for('static', filename=grad_major_image)}}" alt=""style="width:224px; height: 224px; object-fit: cover">
            </div>
            <div style="float:left; width:30%;">
               <p> 생육 단계 Grad-CAM </p>
               <img src="{{url_for('static', filename=grad_minor_image)}}" alt=""style="width:224px; height: 224px; object-fit: cover">
            </div>
       </div>

        <div style="float:bottom;">
            <p>{{major}} {{minor}}</p>
            <p>{{time}}</p>
            <p>{{time_grad}}</p>
        </div>
    {% endif %}
        <div style="float: bottom;">
            <form method="post" action="/upload_grad" enctype="multipart/form-data">
                <p>
                    <input type="file" accept=".jpg" name=file>
                    <input type="submit" value="실행">
                </p>
            </form>
        </div>
    </div>
</body>
